[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-oasis"]
	path = tmux/plugins/tmux-oasis
	url = https://github.com/uhs-robert/tmux-oasis
